<%- include('header') %>

<form method="GET" action="/cotacao">
    <input name="cotacao"  placeholder="Cotação dolar">
    <br>
    <input name="quantidade" placeholder="Cotação dolares">
    <br>
    <input type="submit" value="Converter!">
</form>

<%- include('footer') %>
